---
layout: layouts/base.njk
title: "Le Journal des Petits chez Céline - Activités pour Enfants à Brétigny-sur-Orge"
description: "Articles sur les activités d'éveil, conseils et astuces pour enfants de moins de 3 ans à Brétigny-sur-Orge. Découvrez comment rendre l'apprentissage amusant avec Céline, assistante maternelle agréée."
tags: "assistante maternelle, nounou, activités enfants, Brétigny-sur-Orge, blog"
url: "https://chubert91assmat.netlify.app/blog"
image: "capture-site-blog-celine-hubert.jpg"
eleventyNavigation:
  key: "BLOG"
  title: "BLOG"
  order: 4
pagination:
  data: collections.posts
  size: 5
  alias: posts
  bodyClass: "blog-page"
  permalink: "/blog/"
---


  <!-- Icône de défilement vers le haut utilisant une image SVG -->
  <a href="#first-article" class="scroll-to-top">
    <img class="rocket-icon" src="{{ '/images/rocket-svgrepo-com.svg' | url }}" alt="Icône de fusée pour remonter en haut de la page blog">
</a>

{% include "layouts/widget/header.njk" %} <!-- Inclusion de l'en-tête -->




<section id="contenu-blog"> <!-- mt-5 ajoute de la marge supérieure -->
<!-- Page content -->
<div class="container"> <!-- Début du conteneur -->
    <div class="row"> <!-- Début de la ligne -->
        <!-- Colonne des articles -->
        <div class="col-md-8 col-lg-8"> <!-- Début de la colonne des articles -->


           


            <!-- Liste des autres articles avec pagination -->
            <div class="row"> <!-- Début de la ligne des autres articles -->
                {% for post in pagination.items %}
                   
                        <div class="col-lg-6 mb-4"> <!-- Début de la colonne pour chaque autre article -->
                            <div class="card-articles"> <!-- Début de la carte de l'article -->
                                <a href="{{ post.url }}">

                                   {% image post.data.featuredImage | default('https://dummyimage.com/700x350/dee2e6/6c757d.jpg'), post.data.title | default('Image de l\'article'), '(min-width: 1024px) 100vw, 50vw' %} 
                                   
                                </a>

{% include "layouts/widget/partage-article-reseaux.njk" %} <!-- Inclusion du partage-article-reseaux -->

                                <div class="card-body text-center"> <!-- Début du corps de la carte de l'article -->
                                    <span class="badge text-bg-secondary">{{ post.data.category | default('ACTIVITE') }}</span>
                                    <div class="poppins-regular-blog-date">{{ post.date | date('dd MMMM yyyy') }}</div>
                                    <h2 class="poppins-regular-titre-blog">
                                        <a href="{{ post.url }}" style="text-decoration: none; color: inherit;">{{ post.data.title | default('Titre de l\'article') }}</a>
                                    </h2>

                                   <div class="poppins-regular-blog">{{ post.content | truncateWords(20) }}</div><!-- Limité à 20 mots avec "..." -->
                                   <a href="{{ post.url }}" class="btn btn-custom">
                                <img src="{{ '/images/blog/baby-nipple-blog.svg' | url }}" class="bouton-tetine" alt="Lire l'article sur les meilleures activités pour enfants chez Céline, nounou à Brétigny-sur-Orge">
                                </a>
</div> <!-- Fin de card-body text-center -->
</div> <!-- Fin de la carte de l'article -->
</div> <!-- Fin de la colonne pour chaque autre article -->

               
                
                {% endfor %}

    </div> <!-- Fin de la ligne des autres articles -->


{% include "layouts/widget/pagination.njk" %} <!-- Inclusion de la pagination -->


    </div> <!-- Fin de la colonne des articles -->


<!-- Colonne de la barre latérale -->
{% include "layouts/widget/barre-laterale-blog.njk" %} <!-- Inclusion des widgets latéraux -->


</div> <!-- Fin de la ligne -->
</div> <!-- Fin du conteneur -->


</section> <!-- Fin de la section du contenu du blog -->



{% include "layouts/widget/newsletter.njk" %} <!-- Inclusion de la newsletter -->


   <script async src="https://cse.google.com/cse.js?cx=11cceee9558b14788">
    </script>


<!-- MailerLite Universal -->
<script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '1130594');
</script>
<!-- End MailerLite Universal -->


<script>
    function copyLink(button) {
    let relativeUrl = button.getAttribute('data-url');
    // Ajouter le domaine à l'URL relative pour créer une URL absolue
    const absoluteUrl = `${window.location.origin}${relativeUrl}`;

    // Copier l'URL absolue dans le presse-papiers
    if (navigator.clipboard) {
        navigator.clipboard.writeText(absoluteUrl)
            .then(() => alert("Lien copié dans le presse-papiers !"))
            .catch(err => console.error("Impossible de copier le lien :", err));
    } else {
        const tempInput = document.createElement("input");
        tempInput.value = absoluteUrl;
        document.body.appendChild(tempInput);
        tempInput.select();
        try {
            document.execCommand("copy");
            alert("Lien copié dans le presse-papiers !");
        } catch (err) {
            console.error("Impossible de copier le lien :", err);
        }
        document.body.removeChild(tempInput);
    }
}
</script>


<script>
 document.addEventListener("DOMContentLoaded", async () => {
  document.querySelectorAll('.like-button').forEach(async button => {
    const postId = button.getAttribute('data-id');
    const likeCountElement = document.getElementById(`like-count-${postId}`);

    console.log(`postId: ${postId}`);
    console.log(`likeCountElement:`, likeCountElement); // Vérifie si l'élément est trouvé

    // Récupérer les likes existants au chargement
    const response = await fetch(`/.netlify/functions/like?post_id=${postId}`);
    const data = await response.json();

    // Vérifie si l'élément existe avant de le manipuler
    if (likeCountElement) {
      likeCountElement.textContent = data.likes || 0;
    } else {
      console.error('L\'élément compteur de like n\'a pas été trouvé');
    }

    // Ajouter un événement "click" sur le bouton
    button.addEventListener('click', async function() {
      const response = await fetch('/.netlify/functions/like', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ post_id: postId }),
      });

      const result = await response.json();

      if (result.message === "Like added successfully") {
        if (likeCountElement) {
          likeCountElement.textContent = parseInt(likeCountElement.textContent) + 1;
        }
      } else {
        alert('Error: ' + result.message);
      }
    });
  });
});

</script>


