<div class="striped-section" aria-hidden="true"></div>



   <!-- Pied de page -->
<section class="index-footer-section">

    <div class="container-md"> <!-- Changer container à container-fluid -->
        <div class="row">
          <!-- Colonne de gauche: Accès & Horaires -->

  <div class="col-md-3 col-sm-12 text-start pied-page-typo align-start">

<h3 class="acces-horaires">Accès & horaires</h3>
  

    <!-- Section avec l'icône des horaires -->
    <div class="horaires-footer text-md-start text-center">
        <img src="/images/pied-page/horaires-bretigny.svg" class="icone-horaires" alt="Icône des horaires d'accueil">
        <div class="horaires-text">
            <p>Lundi 07h15 - 18h45</p>
            <p>Mardi 07h15 - 18h45</p>
            <p><strong>Mercredi - Fermé</strong></p>
            <p>Jeudi 07h15 - 18h45</p>
            <p>Vendredi 07h15 - 18h45</p>
        </div>
    </div>

<div class="localisation-footer text-md-start text-center">
    <img src="/images/pied-page/localisation-bretigny.svg" class="icone-localisation" alt="Icône de localisation">
    <div class="localisation-text">
        <p>Assistante maternelle agréée à <strong>Brétigny-sur-Orge (91220), Essonne</strong></p>
        <p>Proche de la <strong>gare RER C de Brétigny-sur-Orge</strong></p>
        <p>Secteur <strong>Carouge-Clause</strong></p>
    </div>
</div>




</div>

           
           <!-- Colonne du milieu gauche: liens utiles -->
<div class="col-md-3 col-sm-12 text-start liens-utiles-typo align-start">
<h3 class="liens-utiles">Navigation</h3>

 

    <div class="liens-utiles-footer">
        <img src="/images/pied-page/liens-utiles-bretigny.svg" class="icone-liens-utiles" alt="Icône des liens utiles">

        <ul class="list-unstyled">
            <li>
                <a href="/">Accueil</a>
            </li>
            <li>
                <a href="/projet-accueil/">Mon projet d'accueil</a>
            </li>
             <li>
                <a href="/assistante-maternelle-bretigny-sur-orge/">Nounou agréée près de chez vous</a>
            </li>
            <li>
                <a href="/simulateur-cout-creche-assistante-maternelle/">Tarifs et simulation</a>
            </li>
            <li>
                <a href="/faq/">FAQ</a>
            </li>
             <li>
                <a href="/blog/">Blog – Petite enfance Brétigny</a>
            </li>
            <li>
                <a href="/mentions-legales/">Mentions légales</a>
            </li>
        </ul>
    </div>



                <div class="pied-page-spacer"></div>
                <h3 class="me-contacter">Me contacter</h3>
                <ul class="list-unstyled">

                <li>
                        <a href="/contact/" style="display: flex; align-items: center;">
                            <img src="/images/pied-page/liens-icon-contact-bretigny.svg" class="love-letter" alt="Icône lettre pour accéder à la page de contact à Brétigny-sur-Orge" style="margin-right: 5px;" loading="lazy">
                            <div id="emailContainer"></div>
                        </a>
                    </li>
                   
                </ul>
            </div>




            
   

<!-- Colonne du milieu gauche: liens utiles -->
<div class="col-md-3 col-sm-12 text-start liens-utiles-typo align-start">
    <h3 class="suivez-chez-celine">Suivez chez Céline</h3>




    <ul class="list-unstyled">
        <li>
           <a href="https://www.instagram.com/celine.assmat.bretigny91/" target="_blank" rel="noopener">
    <img src="/images/pied-page/social-insta-bretigny.svg" class="social-icons" alt="Instagram de Céline Hubert, assistante maternelle à Brétigny-sur-Orge" loading="lazy">
</a>

<a href="https://www.facebook.com/celine.assmat.bretigny/" target="_blank" rel="noopener">
    <img src="/images/pied-page/social-facebook-bretigny.svg" class="social-icons" alt="Page Facebook de Céline Hubert, assistante maternelle à Brétigny-sur-Orge" loading="lazy">
</a>

<a href="https://fr.pinterest.com/celine_assmat_bretigny/" target="_blank" rel="noopener">
    <img src="/images/pied-page/social-pinterest-bretigny.svg" class="social-icons" alt="Page Pinterest de Céline Hubert, assistante maternelle à Brétigny-sur-Orge" loading="lazy">
</a>

        </li>
    </ul>
</div>


          <!-- Colonne de droite: Logo -->
<div class="col-md-3 col-sm-12 text-start">
    <img src="/images/pied-page/logo-celine-hubert-bretigny.svg" class="logo-pied-page" alt="Logo Céline Hubert, assistante maternelle agréée à Brétigny-sur-Orge" loading="lazy">
</div>

        
        <hr class="pied-page-separator">


        <!-- Contenu existant -->
        <div class="row">
            <div class="col-md-12 text-center footer-text">
                <span>© 2026 Céline Hubert &nbsp;&nbsp;</span>
                <span>Conçu avec </span>
                <a>
                    <img src="/images/pied-page/coeur-assistante-maternelle-bretigny.svg" alt="Icône cœur représentant l'engagement de Céline Hubert" class="heart-icon" loading="lazy">
                </a>
                <span> par Céline Hubert</span>
            </div>
        </div>
    </div>
</section>

