<section id="page-header" class="header-section">
  <header class="page-header py-5 bg-light border-bottom mb-0">
      <div class="overlay"></div>
      <div class="container position-relative">


<div class="header-banniere-container">

<h1 class="poppins-bold-titre-banniere">
  {{ title | default(site.title) }}
</h1>
        <a href="{{ '/contact/' | url }}" class="btn btn-action-primary-a" aria-label="Accédez au formulaire de contact pour reserver une place">
            Rejoignez notre quotidien. Contactez-moi ! →
        </a>
    </div>


        
      </div>
  </header>

  <div class="svg-banniere-background">
     <div class="svg-container">
    <img src="{{ '/images/blog/nuage-introduction-pc.svg' | url }}" 
         class="nuages-bleus-curvy pc-svg" 
         alt="Illustration de nuages pour la présentation du blog sur PC"
         loading="lazy">
    
    <img src="{{ '/images/blog/nuage-introduction-mobile.svg' | url }}" 
         class="nuages-bleus-curvy mobile-svg" 
         alt="Illustration de nuages pour la présentation du blog sur mobile"
         loading="lazy">
</div>

  </div>
</section>

