<header class="page-header py-5 bg-light border-bottom mb-0">
    <div class="overlay"></div>
    <div class="container position-relative">
        <div class="text-center my-5">
            <h1 class="poppins-bold-titre-banniere">{{ site.title | default("Le Journal des petits chez Céline") }}</h1>
            <br>
            <p class="fade-in-out-banniere">{{ site.tagline | default("Expériences et bons plans d'une assistante maternelle à Brétigny-sur-Orge.") }}</p>
        </div>
    </div>
</header>

<div class="svg-banniere-background">
    <div class="svg-container">
        <img src="{{ '/images/blog/nuage-introduction-pc.svg' | url }}" class="nuages-bleus-curvy pc-svg" alt="Décor nuages pour PC">
        <img src="{{ '/images/blog/nuage-introduction-mobile.svg' | url }}" class="nuages-bleus-curvy mobile-svg" alt="Décor nuages pour mobile">
    </div>
</div>
