<!-- SEO Metadata -->
<title>{{ title or metadata.title }}</title>
<meta name="description" content="{{ description or metadata.description }}">
<meta name="keywords" content="{{ tags or 'blog, articles, ' ~ metadata.title | safe }}">
<meta name="robots" content="index, follow">

<!-- Open Graph Metadata (Facebook, LinkedIn, Pinterest) -->
<meta property="og:title" content="{{ title or metadata.title }}">
<meta property="og:description" content="{{ description or metadata.description }}">
<meta property="og:image" content="{{ image or pageImages[page.url] or metadata.socialImage | absoluteUrl }}">
<meta property="og:url" content="{{ page.url | absoluteUrl }}">
<meta property="og:site_name" content="{{ metadata.title }}">
<meta property="og:type" content="website">
<meta name="pinterest-rich-pin" content="true">

<!-- Twitter Metadata -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ title or metadata.title }}">
<meta name="twitter:description" content="{{ description or metadata.description }}">
<meta name="twitter:image" content="{{ image or pageImages[page.url] or metadata.socialImage | absoluteUrl }}">
<meta name="twitter:site" content="{{ metadata.twitter or '@yourtwitterhandle' }}">

<!-- Lien vers le flux RSS -->
<link rel="alternate" type="application/rss+xml" title="{{ site.title }} - Flux RSS" href="{{ site.url }}/rss.xml" />

<!-- Theme Color -->
<meta name="theme-color" content="#F8F9F6">

<!-- Canonical URL -->
<link rel="canonical" href="{{ page.url | absoluteUrl('https://chubert91assmat.netlify.app') }}">

<!-- Lien vers les styles Bootstrap et CSS personnalisés -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">


 <!-- CSS inline pour éviter le flash blanc -->
  <style>
    body {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  </style>

<link rel="preload" href="{{ '/css/style.css' | url }}" as="style" onload="this.onload=null;this.rel='stylesheet';">
<noscript><link rel="stylesheet" href="{{ '/css/style.css' | url }}"></noscript>


<link rel="icon" href="{{ '/favicon.ico' | url }}" type="image/x-icon">

<!-- Préchargement des polices nécessaires -->
<!-- <link rel="preload" href="/fonts/poppins-v22-latin-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" importance="high"> -->
<!-- <link rel="preload" href="/fonts/poppins-v22-latin-700.woff2" as="font" type="font/woff2" crossorigin="anonymous" importance="high"> -->
<!-- <link rel="preload" href="/fonts/finger-paint-v19-latin-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" importance="high"> -->


