<div class="d-flex justify-content-between align-items-center mt-3">
    <!-- Onglet Like (Cœur) -->
 
<button id="likeButton" data-post-id="1234">Like</button>





    <!-- Onglet Partager -->
    <div class="dropdown share-dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownShareButton" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ '/images/blog/share-icon.svg' | url }}" alt="Partager" class="me-2">
            Partager
        </button>

        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownShareButton">
          

<li>
    <!-- Facebook -->
  <a class="dropdown-item" 
   href="https://www.facebook.com/sharer.php?u={{ site.url }}{{ post.url | urlencode }}" 
   target="_blank">
    <img src="{{ '/images/blog/social-facebook-bretigny.svg' | url }}" alt="Facebook" class="me-2">
    Facebook
</a>
</li>


<li>
<!-- LinkedIn -->
<a class="dropdown-item" 
   href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ post.url | urlencode }}&title={{ post.title | urlencode }}" 
   target="_blank">
   <img src="{{ '/images/blog/linkedin-bretigny.svg' | url }}" alt="LinkedIn" class="me-2">
   LinkedIn
</a>
</li>
         

<!-- Pinterest -->

<li>
 <!-- Pinterest -->
<a class="dropdown-item" 
   href="https://www.pinterest.com/pin/create/button/?url={{ site.url }}{{ post.url | urlencode }}&media={{ post.image | url | urlencode }}&description={{ post.title | urlencode }}" 
   target="_blank">
    <img src="{{ '/images/blog/pinterest-bretigny.svg' | url }}" alt="Pinterest" class="me-2">
    Pinterest
</a>
  
</li>








            <li>
                <button class="dropdown-item" data-url="{{ post.url | absoluteUrl }}" onclick="copyLink(this)">
                <img src="{{ '/images/blog/lien-article-bretigny.svg' | url }}" alt="Copier le lien" class="me-2">
                Copier le lien
            </button>
            </li>

        </ul>
    </div>
</div>






